<h2 style="text-align: center;margin-top: 20px;">Account info</h2>

<div>
    <table style="width: 100%;">
        <tr>
            <td><b>Username:</b></td>
            <td>{{user.username}}</td>
            <td><button mat-raised-button color="primary">Change</button></td>
        </tr>
        <tr>
            <td><b>Email:</b></td>
            <td>{{user.email}}</td>
            <td><button mat-raised-button color="primary">Change</button></td>
        </tr>
        <tr>
            <td><b>Password</b></td>
            <td>******</td>
            <td><button mat-raised-button [routerLink]="['/profile/changePassword']" color="primary">Change</button></td>
        </tr>
        <tr>
            <td><b>Last login:</b></td>
            <td>{{user.lastlogin | date:'medium'}}</td>
        </tr>
        <tr>
            <td><b>Account state</b></td>
            <td>{{accountStateText}}</td>
        </tr>
    </table>
</div>
<mat-divider class="profile-divider"></mat-divider>


