<div>
    <div class="row pt-3">
      <div class="col text-center">
        <a [routerLink]="['/news']" class="text-success">
          <p><span class="fas fa-newspaper fa-4x"></span></p>
          <p>News</p>
        </a>
      </div>

      <div class="col text-center">
        <a [routerLink]="['/calendar']" class="text-success">
          <p><span class="fas fa-calendar-alt fa-4x"></span></p>
          <p i18n>Calendar</p>
        </a>
      </div>

      <div class="col text-center">
        <a [routerLink]="['/activities']" class="text-success">
          <p><span class="fas fa-running fa-4x"></span></p>
          <p i18n>Activities</p>
        </a>
      </div>

      <div class="col text-center">
        <a [routerLink]="['/myInventory']" class="text-success">
          <p><span class="fas fa-boxes fa-4x"></span></p>
          <p i18n>Storage</p>
        </a>
      </div>

      <div class="col text-center">
        <a class="text-success" [routerLink]="['/shop']">
          <p><span class="fas fa-shopping-cart fa-4x"></span></p>
          <p i18n>Shop</p>
        </a>
      </div>

      <div class = "col text-center">
        <a [routerLink]="['/profile']" class="text-success">
          <p><span class="fas fa-user fa-4x"></span></p>
          <p i18n>Profile</p>
        </a>
      </div>
      <div class="col text-center">
        <a class="text-success" [routerLink]="['/events']">
          <p><span class="fas fa-star fa-4x"></span></p>
          <p i18n>Events</p>
        </a>
      </div>
    </div>
</div>
