<mat-grid-list cols="3">
  <mat-grid-tile>
    <a [routerLink]="['/news']" class="text-success">
    <mat-icon [inline]="true">announcement</mat-icon>
    <p>News</p></a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="['/calendar']" class="text-success">
      <mat-icon [inline]="true">event_note</mat-icon>
      <p>Calendar</p>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="['/activities']" class="text-success">
      <mat-icon [inline]="true">directions_run</mat-icon> 
     <p>Activities</p>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="['/myInventory']" class="text-success">
    <mat-icon [inline]="true">kitchen</mat-icon>
    <p>Storage</p>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="['/shop']" class="text-success">
    <mat-icon [inline]="true">local_grocery_store</mat-icon>
    <p>Shop</p>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="['/profile']" class="text-success">
    <mat-icon [inline]="true">account_box</mat-icon>
    <p>Profile</p>
  </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="['/events']" class="text-success">
    <mat-icon [inline]="true">grade</mat-icon>
    <p>Events</p>
    </a>
  </mat-grid-tile>
</mat-grid-list>