<div *ngIf="user">
  <h2>{{ user.userName }}</h2>

  <table class="mat-table" width="100%">
    <tr class="mat-row">
      <th class="mat-header-cell">ID</th>
      <td class="mat-cell">{{ user.userId }}</td>
    </tr>
    <tr class="mat-row">
      <th class="mat-header-cell">E-Mail</th>
      <td class="mat-cell">{{ user.email }}</td>
    </tr>
    <tr class="mat-row">
      <th class="mat-header-cell">Roles</th>
      <td class="mat-cell">
        <mat-list>
          <mat-list-item *ngFor="let role of user.roles">{{ role.name }}</mat-list-item>
        </mat-list>
      </td>
    </tr>
    <tr class="mat-row">
      <th colspan="2" class="mat-header-cell"><h3>User state</h3></th>
    </tr>
    <tr class="mat-row">
      <th class="mat-header-cell">Last login</th>
      <td class="mat-cell">{{ user.userState.lastLogin }}</td>
    </tr>
    <tr class="mat-row">
      <th class="mat-header-cell">Is active</th>
      <td class="mat-cell">
        <mat-icon *ngIf="user.userState.active">done</mat-icon>
        <mat-icon *ngIf="!user.userState.active" color="warn">clear</mat-icon>
      </td>
    </tr>
    <tr class="mat-row">
      <th colspan="2" class="mat-header-cell"><h3>Game state</h3></th>
    </tr>
    <tr class="mat-row">
      <th class="mat-header-cell">Ingame date</th>
      <td class="mat-cell">{{ user.gameState.ingameDate }}</td>
    </tr>
    <tr class="mat-row">
      <th class="mat-header-cell">Health</th>
      <td class="mat-cell">{{ user.gameState.playerHealth }}</td>
    </tr>
    <tr class="mat-row">
      <th class="mat-header-cell">Fitness</th>
      <td class="mat-cell">{{ user.gameState.playerFitness }}</td>
    </tr>
    <tr class="mat-row">
      <th class="mat-header-cell">Account balance</th>
      <td class="mat-cell">{{ user.gameState.playerAccountBalance }} <span class="fas fa-crown"></span></td>
    </tr>
  </table>
    <a mat-raised-button color="primary" [routerLink]="['/admin/users/edit/', user.userId]">Edit</a>
    <button mat-raised-button color="warn" (click)="deleteUser(user.userId)">Delete</button>
</div>