.phone {
    background-image:url('/assets/img/iphone-160307_1280.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size:contain;
    height:90vh;
    width:45vh;
    margin: auto;
  }
  
  .phone-content {
    position: relative;
    left:4.6vh;
    top:13.3vh;
    background-color: black;
    width: 36.2vh;
    height:64.2vh;
  }
  
  .status {
    height:20px;
    padding-bottom:30px;
  }
  
  .home-button {
    position:relative;
    top:15.2vh;
    left:18.4vh;
    height:8.2vh;
    width:8.2vh;
    cursor: pointer;
  }
  
  @media (max-width:769px)
  {
  
    .status {
      font-size:0.7em;
    }
  }