<div *ngIf="msg">{{ msg }}</div>

<mat-table [dataSource]="items" matSort>
  <ng-container matColumnDef="itemTypeDisplayName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.itemType.itemTypeDisplayName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="itemPrice">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.itemPrice }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="itemCount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Available</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.itemCount }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Buy</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button mat-mini-fab color="primary" (click)="openDialog(item)"><mat-icon>local_grocery_store</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator class="pt-2" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>