<h3>Events</h3>

<p><a [routerLink]="['/admin/events/create']">Create new event</a></p>

<mat-table [dataSource]="events" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let event">{{ event.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="shortTitle">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Short title</mat-header-cell>
    <mat-cell *matCellDef="let event">{{ event.shortTitle }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let event">{{ event.description }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="gameEventDefinitionType">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
    <mat-cell *matCellDef="let event">{{ event.gameEventDefinitionType }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="choices">
    <mat-header-cell *matHeaderCellDef>Choices</mat-header-cell>
    <mat-cell *matCellDef="let event">
      <mat-list>
        <mat-list-item *ngFor="let choice of event.gameEventChoices">
        <mat-icon mat-list-icon>chevron_right</mat-icon>
          {{ choice.description }}
        </mat-list-item>
      </mat-list>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="requirements">
    <mat-header-cell *matHeaderCellDef>Requirements</mat-header-cell>
    <mat-cell *matCellDef="let event">
      <mat-list>
        <mat-list-item *ngFor="let requirement of event.requirements">
          <mat-icon mat-list-icon *ngIf="requirement.type == 'HAS_HAPPENED'">done</mat-icon>
          <mat-icon mat-list-icon *ngIf="requirement.type != 'HAS_HAPPENED'" color="warn">clear</mat-icon>
          {{ requirement.requiredGameEventDefinitionShortTitle }} &raquo; {{ requirement.gameEventChoiceDescription }} &raquo; {{ requirement.type }}
        </mat-list-item>
      </mat-list>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>