<div style="text-align: center;">
    <h2>Set a new password</h2>

    <p>On this page, you can set a new password for your account!</p>

    <mat-form-field appearance="outline" style="width: 90%; padding-top: 20px;">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="Enter new password here" [formControl] = "newPassword" required type="password">
        <!--<mat-hint>New password</mat-hint>-->
        <mat-error *ngIf="newPassword.invalid">{{passwordRequirements}}</mat-error>
    </mat-form-field>

    <p></p>

    <mat-form-field appearance="outline" style="width: 90%; padding-top: 20px;">
        <mat-label>New Password Confirmation</mat-label>
        <input matInput placeholder="Enter new password here again" [formControl] = "newPasswordConfirmation" required type="password">
        <!--<mat-hint>New password confirmation</mat-hint>-->
        <mat-error *ngIf="newPasswordConfirmation.invalid">{{passwordRequirements}}</mat-error>
    </mat-form-field>

    <p></p>

    <button mat-raised-button color="primary" class="dialogButton" style="width: 90%;">Save</button>
    <button mat-raised-button color="warn" class="dialogButton" style="width: 90%;" [routerLink]="['/profile']">Cancel</button>


</div>
