<div class="smart-watch text-success">
    <div class="watch-content">
      <div *ngIf="isLoggedIn">
       <mat-grid-list cols="2" rowHeight="6em">
        <mat-grid-tile>
          <p><mat-icon [inline]="true">favorite</mat-icon></p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><mat-icon [inline]="true">psychology</mat-icon></p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><mat-icon [inline]="true">group</mat-icon></p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><mat-icon [inline]="true">payments</mat-icon></p>
        </mat-grid-tile>
      </mat-grid-list>
        <p><a [routerLink]="['/logout']" class="text-success">Logout</a></p>
        <p *ngIf="showAdminBoard"><a [routerLink]="['/admin']" class="text-success">Admin-Board</a></p>
      </div>
      <div *ngIf="!isLoggedIn">
        <p><a [routerLink]="['/login']" class="text-success">Login</a></p>
        <p><a [routerLink]="['/register']" class="text-success">Register</a></p>
      </div>
    </div>
</div>