<form
      *ngIf="definition"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
    <p> 
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          name="activityDefinitionName"
          [(ngModel)]="definition.activityDefinitionName"
          required
          minlength="3"
          maxlength="50"
          #activityDefinitionName="ngModel"
        />
        <mat-error *ngIf="activityDefinitionName?.invalid">
          <div *ngIf="activityDefinitionName.errors.required">Name is required</div>
          <div *ngIf="activityDefinitionName.errors.minlength">
            Name must be at least 3 characters
          </div>
          <div *ngIf="activityDefinitionName.errors.maxlength">
            Name must be at most 50 characters
          </div>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          name="activityDefinitionDescription"
          [(ngModel)]="definition.activityDefinitionDescription"
          required
          activityDefinitionDescription
          #activityDefinitionDescription="ngModel"
        ></textarea>
        <mat-error *ngIf="activityDefinitionDescription?.invalid">
          <div *ngIf="activityDefinitionDescription.errors.required">Description is required</div>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Effort</mat-label>
        <input
          matInput
          type="number"
          name="activityDefinitionEffort"
          [(ngModel)]="definition.activityDefinitionEffort"
          required
          #activityDefinitionEffort="ngModel"
        />
        <mat-error *ngIf="activityDefinitionEffort?.invalid">
          <div *ngIf="activityDefinitionEffort.errors.required">Effort is required</div>
        </mat-error>
      </mat-form-field>
    </p>
      <button mat-raised-button color="primary" class="w-100">Save</button>

      <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
        Update failed!<br />{{ errorMessage }}
      </div>
    </form>