.profile-page-div {
    margin-bottom: 20px;
}

.mat-tab-label {
    color: #28a745;
}

.mat-raised-button {
    color: green;
    border-color: green;
    border-style: solid;
    border-width: 10px;
}