<div class="profile-page-div">
    <h2 style="text-align: center;">Welcome {{user.username}}</h2>
</div>

<div class="profile-page-div">
    <mat-tab-group>
        <mat-tab label="Acount"><profile-account-view [user]="user"></profile-account-view></mat-tab>
        <mat-tab label="Game"><profile-game-view></profile-game-view></mat-tab>
    </mat-tab-group>
</div>

<div class="profile-page-div">
    <button mat-raised-button color="primary" style="width: 100%;">Delete account</button>
    <button mat-raised-button disabled color="primary" style="width: 100%; margin-top: 20px;">Contact developers</button>
    <button mat-raised-button color="warn" style="width: 100%; margin-top: 20px;">Report a bug</button>
</div>

