<mat-card *ngIf="event && !event.done">
  <mat-card-title>{{ event.gameEventDefinition.shortTitle }}</mat-card-title>

  <mat-card-content>
    <p>{{ event.gameEventDefinition.description }}</p>

  <mat-action-list>
    <button mat-list-item *ngFor="let choice of event.gameEventDefinition.gameEventChoices" (click)="respondEvent(choice)">{{ choice.description }}</button>
  </mat-action-list>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="hasMessage">
  <mat-card-content>{{ message }}</mat-card-content>

  <mat-card-footer class="p-2">
    <button mat-raised-button color="primary" (click)="reloadPage()" *ngIf="canContinue">Continue</button>
  </mat-card-footer>
</mat-card>