<div *ngIf="definition">
  <h2>{{ definition.activityDefinitionName }}</h2>

  <p>{{ definition.activityDefinitionDescription }}</p>

  <p><strong>Effort:</strong> {{ definition.activityDefinitionEffort }}</p>

  <h3>Conditions:</h3>

  <p>n/a</p>

      <a [routerLink]="['/admin/activities/edit/', definition.activityDefinitionId]" mat-raised-button color="primary">Edit</a>
      <button mat-raised-button color="warn" (click)="deleteDefinition(definition.activityDefinitionId)">Delete</button>
</div>
